* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --body-color: hsl(16, 100%, 66%);
  --container-color: hsl(0, 0%, 100%);
  --title-color: hsl(0, 2%, 23%);
  --text-color: hsl(0, 2%, 53%);
  --results-color: hsla(16, 67%, 81%, 1);
  --button-color: hsla(162, 48%, 49%, 1);
  /* Fonts */
  --body-font: 'Rubik';
}

body {
  height: 100%;
  background-color: var(--body-color);
  font-family: var(--body-font);
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

label {
  margin-right: 1rem;
}

#container {
  margin: 4rem auto;
  height: 20rem;
  max-width: 82.5rem;
  background-color: var(--container-color);
  padding: 5rem 5rem 2rem 5rem;
  border-radius: 2rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

input {
  margin-right: 2.5rem;
}

#assinaturas {
  margin: auto;
  font-size: 1rem;
}

.buttons {
  text-align: center;
  margin: 2rem 0;
}

#button,
#reset-button {
  color: var(--container-color);
  background-color: var(--button-color);
  padding: 0.5rem;
  border-radius: 0.2rem;
  align-content: center;
}

#reset-button {
  background-color: red;
}

#results {
  margin-top: 2rem;
  text-align: center;
}

#results ul {
  list-style-type: none;
  text-align: left;
  margin: auto;
  padding: 1rem;
  background-color: var(--results-color);
  max-width: 20rem;
  border-radius: 1rem;
}

.hide {
  display: none;
}
